:root {
	--accent-color: #800080;
	--heavy-background: #800080dd;
	--light-background: #80008040;
	--very-light-background: #80008020;
}

* {
	position: relative;
}

html, body {
	height: 100%;
	width: calc(100% - 10px);
}

body {
	font-family: sans-serif;
	font-size: 14pt;
}

h1 {
	font-size: 64pt;
	text-align: center;
	width: 100%;
}

.author {
	font-size: 22pt;
	text-align: center;
}

.page {
	clear: both;
	height: 100%;
}

@media screen {
	header, .footer {
		display: none;
	}
}

@media print {
	header {
		position: fixed;
		top: 0;
	}

	.footer {
		bottom: 0;
		position: absolute;
		margin-top: auto;
	}
}

.calendar {
	background-color: var(--very-light-background);
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width: 100%;
	aspect-ratio: 1;
}

.calendar table {
	aspect-ratio: 1;
}

.calendar :is(table, tbody, tr) {
	width: calc(100% - 20px);
}

.calendar td {
	background-color: var(--light-background);
	aspect-ratio: 1;
	padding: 8px;
	vertical-align: top;
}
