:root {
	--accent-color: #800080;
	--heavy-background: #800080dd;
	--light-background: #80008040;
	--very-light-background: #80008020;
}

* {
	position: relative;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	width: calc(100% - 10px);
}

body {
	font-family: sans-serif;
	font-size: 14pt;
}

h1 {
	font-size: 64pt;
	text-align: center;
	width: 100%;
}

h2 {
	font-size: 21pt;
	line-height: 32px;
	margin: 10px 0;
}

.author {
	font-size: 22pt;
	text-align: center;
}

.page {
	display: grid;
	column-gap: 10px;
	grid-template-columns: 1fr 25% 25% 1fr;
	height: calc(100%);
	padding-top: 30px;
	padding-bottom: 30px;
}

.page :first-child:nth-last-child(2) {
	grid-column: 1 / span 4;
}

@media screen {
	header, .footer {
		display: none;
	}
}

@media print {
	header {
		position: fixed;
		top: 0;
	}

	.footer {
		bottom: 10px;
		position: absolute;
		margin-top: auto;
	}
}

.calendar {
	background-color: var(--very-light-background);
	grid-column: 1 / span 4;
	padding: 5px;
}

.calendar.half-calendar {
	grid-column: 1 / span 3;
	padding-top: 52px;
}

.calendar table {
	border-spacing: 5px;
	height: calc(100% - 52px);
}

.calendar.half-calendar table {
	height: 100%;
}

.calendar :is(table, tbody, tr) {
	width: 100%;
}

.calendar td {
	background-color: var(--light-background);
	padding: 9px;
	vertical-align: top;
}

aside {
	padding: 10px;
}

aside.right {
	grid-column: 4;
	height: 100%;
}

.notes {
	background-color: var(--very-light-background);
	height: 100%;
	word-break: break-all;
}
